<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="margin-top: 100px;">
            <img src="{{BASEURL}}/admin/advertisement/{{img}}" alt="" style="height: 200px; width: 400px; margin: 0 auto; display: block;">
            <h2>Property Name : {{title}}</h2>
            <h5>Description : {{discription}}</h5>
            <h5>Address : {{address}}</h5>
            <h5>location : {{location}}</h5>
            <h5>Price : {{startingPrize}} - {{endPrize}}</h5>
            <h5>Posted Date : {{createdAt}}</h5>
        </div>
    </div>
</div>