<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar" style="position: fixed;width: 100%;">
    <div class="container d-flex align-items-center" style="float: right !important;">
        <div class="col-md-4 d-flex align-items-center py-4">
            <a class="navbar-brand" href="index.html">42KSpace</a>
            <button style="margin-left: auto;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span>
            </button>
        </div>


        <!-- <div class="collapse navbar-collapse" style="float: left;"> -->

        <!-- </div> -->
        <div class="col-md-4 d-flex align-items-center ">

            <div class="collapse navbar-collapse" id="ftco-nav" style="float: right;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item " routerLinkActive="active"><a routerLink="/Home" class="nav-link pl-0">Home</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active"><a routerLink="/aboutus" class="nav-link">About Us</a>
                    </li>
                    <!-- <li class="nav-item"><a href="project.html" class="nav-link">Projects</a></li> -->
                    <li class="nav-item" routerLinkActive="active"><a routerLink="/services" class="nav-link">Services</a></li>
                    <!-- <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li> -->
                    <li class="nav-item" routerLinkActive="active"><a routerLink="/contact" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- END nav -->