<!-- <div class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text"> HAL
                                    3rd Stage, Konena Agrahara, Bangalore, Karnataka - 560017</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text"> +91 7338462676
                                    </span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">
                                        enquiries@42kspace.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Menus</h2>
                    <ul class="list-unstyled">
                        <li><a href="about.html"><span class="ion-ios-arrow-round-forward mr-2"></span>About us</a></li>
                        <li><a href="services.html"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a>
                        </li>
                        <li><a href="contact.html"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact us</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5 ">
                    <h2 class="ftco-heading-2">Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="http://www.propclap.com/"><span
                                    class="ion-ios-arrow-round-forward mr-2"></span>Propclap</a>
                        </li>
                        <li><a href="https://42kconsultingg.netlify.app/"><span
                                    class="ion-ios-arrow-round-forward mr-2"></span>42k Consulting</a></li>
                        </li>
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Propcare247</a></li>
                        <li><a href="https://mortgato.netlify.app/"><span
                                    class="ion-ios-arrow-round-forward mr-2"></span>Mortgato</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">

                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved
                </p>
            </div>
        </div>
    </div>
</div> -->


<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Involved in Real estate activities, such as include construction, leasing and transfer of Industrial Land Parcels and third party properties for multi level buying, selling, renting and operational activities. We deal with properties like
                    self-owned or leased real estate of apartment, building, dwellings, non-residential buildings, commercial buildings, and large land parcels.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a routerLink="/aboutus">About us</a></li>
                    <li><a routerLink="/services">Services</a></li>
                    <li><a routerLink="/contact">Contact Us</a></li>
                    <li><a routerLink="/login">Login</a></li>

                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Usefull Links</h6>
                <ul class="footer-links">
                    <!-- <li><a href="http://scanfcode.com/about/">About Us</a></li>
                    <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li> -->
                    <!--
                   
                    </li>
                    <li><a>Propcare247</a></li>
                    -->
                    <li><a>Propclap</a>
                    </li>
                    <li><a>Propcare247</a></li>
                    <li><a> Mortgato</a>

                    </li>
                    <li><a>42k Consulting</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">42k Tech</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>