<section style="    background: #8080801f;    margin-top: -41px;
padding-top: 58px;">
    <div class="container" style="    margin-top: 42px;">
        <h4 style="font-size: 30px;
        font-weight: bold;">
            Housing Edge
        </h4>
        <p style="    font-size: 15px;
        font-weight: 300;
        color: #26272b;">The most rewarding destination for all home-related services
        </p>

        <div class="css-1e9ng7c">
            <div class="slider-inner css-7nnslv">
                <div class="css-dlu4u9" style="transform: translateX(0px);">
                    <div class="slide-element css-om3run">
                        <div class="css-uwwqev">
                            <a href="https://housing.com/edge/pay-rent" class="css-1ultit7">
                                <div class="css-139asg"><img src="//c.housingcdn.com/demand/s/common/assets/payRent.d4860e85.svg" class="img css-qs4bii"></div>
                                <div>
                                    <div class="css-shx26i">Pay Rent</div>
                                    <div class="css-zco33q">Pay your rent using Credit Card and enjoy rewards</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slide-element css-om3run">
                        <div class="css-uwwqev">
                            <a href="https://housing.com/edge/rent-agreement" class="css-1ultit7">
                                <div class="css-139asg"><img src="//c.housingcdn.com/demand/s/common/assets/rentAgreement.ebdb83e2.svg" class="img css-qs4bii"></div>
                                <div>
                                    <div class="css-1c5agwy">Rent Agreement</div>
                                    <div class="css-zco33q">India's only online service with digital signing</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slide-element css-om3run">
                        <div class="css-uwwqev">
                            <a href="https://housing.com/edge/packers-and-movers" class="css-1ultit7">
                                <div class="css-139asg"><img src="//c.housingcdn.com/demand/s/common/assets/movers.3f5876da.svg" class="img css-qs4bii"></div>
                                <div>
                                    <div class="css-1hpl4vb">Packers &amp; Movers</div>
                                    <div class="css-zco33q">5-star rated home shifting service for smooth move-ins</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slide-element css-om3run">
                        <div class="css-uwwqev">
                            <a href="https://housing.com/edge/tenant-verification" class="css-1ultit7">
                                <div class="css-139asg"><img src="//c.housingcdn.com/demand/s/common/assets/tenantVerification.71200ccd.svg" class="img css-qs4bii"></div>
                                <div>
                                    <div class="css-893zd">Tenant Verification</div>
                                    <div class="css-zco33q">Authentic tenant verification at a click</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slide-element css-om3run">
                        <div class="css-uwwqev">
                            <a href="https://housing.com/edge/rental-furniture" class="css-1ultit7">
                                <div class="css-139asg"><img src="//c.housingcdn.com/demand/s/common/assets/furniture.26d873eb.svg" class="img css-qs4bii"></div>
                                <div>
                                    <div class="css-l5zpt5">Rental Furniture</div>
                                    <div class="css-zco33q">Curated furniture to suit your home needs. Upto 50% discount
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="slider-controls css-zgfmtf">
                <div class="css-xvf1rk"></div>
            </div>
        </div>
    </div>
</section>

<section style="margin-bottom: 15px;">
    <div class="container" style="    margin-top: 42px;">
        <h4 style="font-size: 30px;
        font-weight: bold;">
            News & Articles
        </h4>
        <p style="    font-size: 15px;
        font-weight: 300;
        color: #26272b;">Read what's happening in Real Estate
        </p>
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="    padding: 7px;">
                    <img src="https://assets-news.housing.com/news/wp-content/uploads/2020/10/20191316/NRIs-keep-Kerala-property-market-afloat-amid-COVID-19-Thumbnail-300x200-compressed.jpg" class="img css-zl3bod" style="width:100%;">
                    <h6>NRIs keep Kerala property market afloat amid COVID-19</h6>
                    <p>NRIs keep Kerala property market afloat amid COVID-19 NRIs keep Kerala property market afloat amid COVID-19 Inquiries for properties in Kerala from NRIs, remain high while conversions have also taken place in the past three months.
                        The most popular destinations include Kochi, Trivandrum, Kottayam and Thiruvalla</p>
                    <hr style="    margin-top: 0px;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;">
                    <p style="    text-align: right;">Oct 2020</p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="    padding: 7px;">
                    <img src="https://assets-news.housing.com/news/wp-content/uploads/2020/10/20191316/NRIs-keep-Kerala-property-market-afloat-amid-COVID-19-Thumbnail-300x200-compressed.jpg" class="img css-zl3bod" style="width:100%;">
                    <h6>NRIs keep Kerala property market afloat amid COVID-19</h6>
                    <p>NRIs keep Kerala property market afloat amid COVID-19 NRIs keep Kerala property market afloat amid COVID-19 Inquiries for properties in Kerala from NRIs, remain high while conversions have also taken place in the past three months.
                        The most popular destinations include Kochi, Trivandrum, Kottayam and Thiruvalla</p>
                    <hr style="    margin-top: 0px;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;">
                    <p style="    text-align: right;">Oct 2020</p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="    padding: 7px;">
                    <img src="https://assets-news.housing.com/news/wp-content/uploads/2020/10/20191316/NRIs-keep-Kerala-property-market-afloat-amid-COVID-19-Thumbnail-300x200-compressed.jpg" class="img css-zl3bod" style="width:100%;">
                    <h6>NRIs keep Kerala property market afloat amid COVID-19</h6>
                    <p>NRIs keep Kerala property market afloat amid COVID-19 NRIs keep Kerala property market afloat amid COVID-19 Inquiries for properties in Kerala from NRIs, remain high while conversions have also taken place in the past three months.
                        The most popular destinations include Kochi, Trivandrum, Kottayam and Thiruvalla</p>
                    <hr style="    margin-top: 0px;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;">
                    <p style="    text-align: right;">Oct 2020</p>

                </div>
            </div>

        </div>


    </div>

</section>