h1 {
    text-align: left;
}


/* hr {
    width: 30%;
} */

img {
    margin-left: auto;
    width: 86%;
    height: 164px;
    margin-right: auto;
    display: block;
}

h6 {
    text-align: left;
    font-size: 20px;
    margin-top: 5px;
}

.section {
    margin-top: 20px;
}

p {
    text-align: left;
}

@media (max-width:991px) {
    h2 {
        text-align: left;
    }
    button {
        margin: 0 auto;
        display: block;
        margin-bottom: 11px;
    }
}

.card {
    padding: 10px;
}

.btn {
    background: #0d1128;
    border: none;
    border-radius: 5px;
    float: right;
}