<app-header></app-header>

<!-- 
<section class="ftco-section">

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card">
                <img src="./assets/images/prince.jpg" alt="" style="border-radius: 74px;
                margin: 0 auto;">
                <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="name">
                <input type="text" class="form-control" placeholder="Password" [(ngModel)]="password">
                <button class="btn btn-success" style="width: 100%;" (click)="login()">Login</button>
            </div>
        </div>
        <div class="col-sm-4"></div>

    </div>
</section> -->
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="assets/images/img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form">
                <span class="login100-form-title">
                 Login
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Email" [(ngModel)]="name">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="login()">
                        Login
                    </button>
                </div>


            </form>
        </div>
    </div>
</div>