<app-header></app-header>


<section class="ftco-section">

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card">
                <img src="./assets/images/prince.jpg" alt="" style="border-radius: 74px;
                margin: 0 auto;">
                <!-- <div class="col-lg-4 offset-4" style="margin-top: 20px;"> -->
                <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="name">
                <!-- </div> -->
                <!-- <div class="col-lg-4 offset-4" style="margin-top: 20px;"> -->
                <input type="text" class="form-control" placeholder="Password" [(ngModel)]="password">
                <!-- </div> -->
                <!-- <div class="col-lg-4 offset-4" style="margin-top: 20px;"> -->
                <button class="btn btn-success" style="width: 100%;" (click)="login()">Login</button>
                <!-- </div> -->
            </div>
        </div>
        <div class="col-sm-4"></div>

    </div>
</section>