<app-header></app-header>
<section class="hero-wrap hero-wrap-2" style="background-image: url('./assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1 class="mb-2 bread">About Us</h1>
                <!-- <p class="breadcrumbs">
                    <span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          -->
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 order-md-last wrap-about align-items-stretch">
                <div class="wrap-about-border">
                    <div class="img" style="background-image: url(./assets/images/about.jpg);"></div>
                    <div class="text">
                        <h3>Read Our Success Story for Inspiration</h3>
                        <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p> -->
                        <p>HuT Factory is concept which is developed by 42kspace based on PLUG AND PLAY FACTORIES .HuT Factory offers ready-to-move-in infrastructure facilities ranging in size from 1000 to 50000m2, complete with finished office space, utilities,
                            landscaping and many services. Extra efforts were given to design theses factories aesthetic but functional, with a special emphasis on nice finishing’s in the office space at International Standards.

                        </p>
                        <!-- <p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-7 ">
                <h2 class="mb-4">Welcome to 42KSpace</h2>
                <p>Involved in Real estate activities, such as include construction, leasing and transfer of Industrial Land Parcels and third party properties for multi level buying, selling, renting and operational activities. We deal with properties like
                    self-owned or leased real estate of apartment, building, dwellings, non-residential buildings, commercial buildings, and large land parcels.
                </p>
                <p>42K Space is also handles properties of overseas Indians, foreign nationals; MNCs and Indian companies who want o establish their facilities in India and in other business Juristrations. We help in maintaining, buying and selling of Industrial
                    Township, Plug and play manufacturing facilities, developing the land and support in presales and post sales activities.
                </p>
                <p>42K Space help Clients in funding based on their land and building assets, top-up funding among others. We do property consulting, advising and facility management. We also provide real estate research report, which includes valuation,
                    market pricing, leasing valuation, and liquidity. Involved in sourcing of facilities, lands for warehousing and Logistics.</p>

            </div>
        </div>
    </div>
</section>