<!-- <form [formGroup]="regifrom">
    <div class="row">
        <div class="col-sm-4">
            <input type="text" name="" id="" placeholder="amount" class="form-control" formControlName="nam1" [(ngModel)]="nam1" (keyup)="onKeydown(nam1)" [disabled]="false">

        </div>
        <div class="col-sm-4">

            <input type="text" name="" id="" placeholder="percentage" class="form-control" formControlName="nam2" [(ngModel)]="nam2" (keyup)="onKeydown1(nam2)" [disabled]="false">

        </div>

    </div>
</form> -->